<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566699516882-9o52k32hj5ofp6beelij9mqadnta28s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566699516882-9o52k32hj5ofp6beelij9mqadnta28s5</string>
	<key>API_KEY</key>
	<string>AIzaSyDersD0vNLLLU7MUHj_KOzgQu6Jk1Jxmus</string>
	<key>GCM_SENDER_ID</key>
	<string>566699516882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.penyaCiclista</string>
	<key>PROJECT_ID</key>
	<string>penyaciclista-64b07</string>
	<key>STORAGE_BUCKET</key>
	<string>penyaciclista-64b07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566699516882:ios:0169892d07ef37c0a7de0b</string>
</dict>
</plist>